<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила бота</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    <style>
        body {
            background-color: rgb(30, 30, 30);
        }
    </style>
</head>
<body>
    <h1>Угода користувача</h1>
    <h2>Правила користування ботом</h2>
    <section>
        <h3>Загальні положення</h3>
        <ul>
            <li><u><b>Чат-бот</b></u> — функціонал у вигляді чатбота в месенджері Telegram за адресою <code>https://web.telegram.org/a/#6015168941</code>.</li>
            <li><u><b>Сервіс</b></u> — послуги із пошуку та з'єднання співрозмовників, передачі повідомлень між ними в межах Сайту та/або Чат-боту в рамках доступного функціоналу, які надаються безоплатно.</li>
            <li><u><b>Користувач</b></u> — будь-яка особа, яка прийняла цю угоду та користується Сервісом.</li>
            <li><u><b>Пошук та з'єднання співрозмовників</b></u> — послуга, що надається Користувачу,
                яка за його параметрами виконує підбір випадкової людини серед інших Користувачів,
                якщо такі присутні, після чого надає інтерфейс для передачі повідомлень.</li>
            <li><u><b>Передача повідомлень</b></u> — послуга, що надається Користувачу для обміну повідомленнями з іншим Користувачем,
                з ким було з'єднано, допоки не ініційовано роз'єднання. Кожному Користувачу в один момент часу доступна
                передача повідомлень тільки з одним іншим Користувачем.
            </li>
        </ul>
    </section>
</body>
</html>

<section>
    <h3>Прийняття</h3>
    <p>
        Ці правила використання Сервісом та публічна оферта (далі "Угода") — це юридична угода між Адміністрацією, яка надає Сервіс,
        з однієї сторони, та Користувачем, який приймає цю публічну оферту, з іншої.
    </p>
    <p>
        Перед використовуванням Користувач повинен впевнитись, що він розуміє призначення та функціонал Сервісу,
        базовий етикет та принципи спілкування в мережі<,
        неписані та неформальні правила ведення бесіди, поваги, адекватності,
        реакції на тролів,
        а також володіє знаннями безпеки в мережі інтернет та ознайомився з порадами щодо безпеки спілкування.
    </p>
    <p>
        Користувач погоджується та приймає умови даної Угоди (оферти) конклюдентними діями, а саме шляхом використання Сервісу.
        Будь-яка взаємодія з Сервісом підтверджує факт прийняття та даної Угоди.
        На користування Сервісу також поширюється Політика конфіденційності.
    </p>
    <p>
        Адміністрація залишає за собою право змінювати, доповнювати та/або уточнювати цю угоду в односторонньому порядку без будь-якого повідомлення.
        Нові зміни починають діяти з моменту публікації нової редакції. Слідкувати за змінами угоди входить в обов'язки користувача.
        Продовження користування Сервісом після змін угоди являється фактом повного та безумовного її акцепту.
    </p>
    <p>
        У разі втрати чинності одного або декількох пунктів Угоди, усі інші залишаються в силі та договір продовжує діяти,
        за виключенням пунктів, які втратили чинність.
    </p>
</section>

<section>
    <h3>Предмет угоди</h3>
    <p>
        Предметом угоди є надання послуг Сервісу по обміну повідомлень з випадковими співрозмовниками, які є іншими Користувачами Сервісу.
    </p>
</section>

<section>
    <h3>Відповідальність</h3>
    <p>
        Сервіс надає можливість миттєвого обміну повідомлень між двома випадковими Користувачами
        без участі або посередництва Адміністрації, тому відповідальність за законність та правдивість повідомлень лежить виключно на Користувачу, який їх надсилає.
        Оскільки відсутня технічна можливість попередньої модерації всієї переданої інформації, Адміністрація не несе
        жодної відповідальності за будь-які збитки, які можуть бути або завдані внаслідок користування Сервісом.
    </p>
    <p>
        Сервіс надається на умовах "як є", без будь-яких гарантій. Адміністрація не гарантує, що Сервіс та результат
        його використовування будуть відповідати очікуванням або іншим уявленням Користувача.
    </p>
    <p>
        Адміністрація не несе відповідальність за посилання на будь-які сайти, ресурси, сторінки в інтернеті, продукти, послуги,
        програми, контент, інформацію тощо, розміщені Користувачами в Сервісі, при передачі повідомлень або іншим чином. Відповідальність
        за усі ризики та збитки лежить виключно на Користувачах, які обмінюються або публікують таку інформацію.
    </p>
</section>

<section>
    <h3>Права Користувача</h3>
    <div>
        <ol>
            <li>Доступ до послуг Сервісу на безоплатній основі в рамках його функціоналу.</li>
            <li>Вільно спілкуватися на довільні теми, якщо вони не порушують умов даної Угоди.</li>
            <li>В будь-який момент завершити спілкування.</li>
            <li>Поскаржитись Адміністрації на співрозмовника, який, на думку Користувача, порушив правила.</li>
        </ol>
    </div>
</section>

<section>
    <h3>Обов'язки Користувача</h3>
    <div>
        <ol>
            <li>Дотримуватися даної Угоди.</li>
            <li>Негайно припинити користуватися Сервісом у випадку відхилення цієї Угоди.</li>
            <li>Бути дружним та ввічливим.</li>
            <li>Шанувати приватність співрозмовника та даних, якими він поділився.</li>
            <li>Повідомляти Адміністрацію про випадки порушення правил у цій Угоді іншими Користувачами.</li>
        </ol>
    </div>
</section>


<section>
    <h3>Користувачу забороняється</h3>
    <div>
        <ol>
            <li>Порушувати, або закликати порушувати чинне законодавство України.</li>
            <li>Надсилати, публікувати або іншим чином поширювати нав'язливу інформацію (спам).</li>
            <li>Надсилати або пропонувати шкідливий чи небепечний вміст, який може зашкодити іншому Користувачу.</li>
            <li>Виконувати дії, які можуть зашкодити справній роботі чату.</li>
            <li>Обходити або намагатись обійти обмеження, блокування, ліміти, фільтри тощо, або обманювати програмне забезпечення Сервісу.</li>
            <li>Видавати себе за іншу особу або осіб.</li>
            <li>Збирати або поширювати інформацію про інших Користувачів Сервісу, в тому числі їх контактні дані чи фотографії.</li>
            <li>Займатися жебракуванням у будь-якому вигляді та способом</li>
            <li>Надсилати, публікувати та іншим чином поширювати контент з
                елементами, згадками, питаннями, натяками, пропозиціями, компліментами, описом
                відвертих, пікантних, інтимних, еротичних, тем сексуального характеру, статевих ознак, білизни тощо
                у режимі звичайного діалогу
                незалежно від контексту та намірів, напряму, завуальовано чи з цензурою.</li>
            <li>Надсилати неправдиві скарги.</li>
            <li>Перешкоджати спілкуванню інших Користувачів.</li>
            <li>Погрожувати, шантажувати, залякувати напряму, натяками або завуальовано.</li>
            <li>Допускати доступ інших осіб до користування Сервісом зі свого пристрою та/або облікового запису.</li>
        </ol>
    </div>
</section>

<section>
    <h3>Права Адміністрації</h3>
    <p>Адміністрація має право, проте не зобов'язується, в будь-який час, на власний розсуд і без попередження:</p>
    <div>
        <ol>
            <li>
                Видаляти, блокувати, відмовлятися від розповсюдження чи обробки будь-який контент, інформацію та інші матеріали,
                які порушують цю Угоду, чинне законодавство, права третіх осіб, власні суб'єктивні моральні принципи тощо.</li>
            <li>
                Обмежувати та/або блокувати доступ до Сервісу окремим Користувачам шляхом явного або неявного блокування без попередження та іншого
                інформування, а також вимикати, зупиняти або ставити обмеження на певні розділи, функції або можливості
                Сервісу усім Користувачам або деяким на будь-який термін.
            </li>
            <li>Залучати автоматизовані системи модерації контенту з метою виявлення порушень та накладання обмежень.</li>
            <li>
                Вносити корективи до звичного алгоритму функціонування Сервісу стосовно окремих користувачів
                задля боротьби з порушенням цих правил користування.
            </li>
            <li>
                Відмовляти у підтримці Користувачам, які не надали повної інформації про проблему,
                не можуть або не бажають надавати інформацію, запитану Адміністрацією для уточнення
                або підтвердження тверджень Користувача, або така інформація надана зі спотворенням,
                змінами, підробкою або спробою приховування.
            </li>
        </ol>
    </div>
</section>

<section>
    <h3>Обов'язки Адміністрації</h3>
    <div>
        <ol>
            <li>Підтримувати справну роботу Сервісу.</li>
            <li>Лагодити несправності наявного функціонала у порядку пріоритетів, виставлених на власний розсуд.</li>
            <li>Надавати користувачам можливість скарг на інших Користувачів.</li>
            <li>Організовувати дотримання правил Користувачами в тому обсязі, наскільки це технічно можливо.</li>
        </ol>
    </div>
</section>

<section>
    <h3>Порушення Угоди</h3>
    <p>
        У випадку порушень користувачем цих правил, Адміністрація залишає за собою право припинити надання Сервісу, без будь-якого попередження,
        інформування та детальних роз'яснень.
    </p>
</section>

<section>
    <h3>Форс-мажорні обставини</h3>
    <ol>
        <li>Сторони цієї Угоди не несуть відповідальності за невиконання або неналежне виконання умов цієї Угоди,
            завдану нею шкоду або завдані збитки (в тому числі за неможливість виконання або затримку виконання взятих на себе зобов'язань),
            якщо такі є наслідком дії форс-мажорних обставин.</li>
        <li>Під форс-мажорними обставинами Сторонами розуміються:
            стихійні лиха, погодні явища та умови (землетруси, зсуви, повені, шквали, урагани, смерчі, тайфуни,
            припливи та відливи, зливи та зливові опади, снігопади, град, блискавка, посуха),
            епідемія, епізоотія, пожежа що почалася стихійно, загальноприйняті морські ризики, революція,
            оголошена чи неоголошена війна, військові дії або загроза війни, громадські заворушення, страйки,
            локаути, блокади, ембарго, саботаж, арешти та ув'язнення, реквізиція суду, вибухи,
            виробничі аварії або катастрофи, несправності механізмів, транспортних і вантажних засобів або обладнання,
            карантинні приписи, зміни в чинних нормах і правилах, введення надзвичайного стану,
            вимоги та приписи державних органів, відсутність електричної енергії, перебої в постачанні води,
            поява несправності обладнання або програмних засобах, тимчасова непрацездатність Адміністрації тощо.</li>
    </ol>
</section>

<section>
    <h3>Термін дії Угоди</h3>
    <p>
        Угода чинна від моменту фактичного початку користування Сервісом до моменту припинення за ініціативи Користувача,
        або у випадку порушення Користувачем положень даної Угоди.
    </p>
    <p>
        У випадку публікації нової редакції Угоди попередня версія втрачає чинність з моменту публікації нової.
        В такому разі Користувач, якщо продовжує користуватись послугами Сервісу, автоматично акцептує її.
    </p>
</section>

<section>
    <h3>Зворотній зв'язок</h3>
    <p>
        Зв'язатися з Адміністрацією можна електронною поштою <code>anonim4ikbot@gmail.com</code>
        або в режимі чату у месенджері telegram за адресою <a href="https://web.telegram.org/a/">@romanvillain</a>.
    </p>
</section>
